* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  width: 1150px;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 26px;
}

.row {
  display: flex;
}

.column-fifth {
  flex-basis: 20%;
  padding: 0.5rem;
}

img {
  width: 97%;
  height: 83%;
  object-fit: stretch;
  filter: brightness(110%);
}

.description-block {
  margin-top: 0.5rem;
}

p {
  font-size: 12px;
}

.bold {
  font-weight: 800;
  padding-right: 0.2rem;
}

.shadow {
  color: rgb(206 206 206);
  background-color: none;
}

.size {
  padding-left: 0.25rem;
  border-left: 1px solid rgb(206 206 206);
  font-size: 12px;
}

.peach-background {
  background-color: rgba(255 233 212 / 50%);
  border-radius: 0.25rem;
  padding: 1px 2px;
}

.strikethrough {
  text-decoration: line-through;
}
