.light {
  background-color: rgb(255 254 241);
  transition: background-color 0.5s;
}

.row {
  display: flex;
  height: 40rem;
  width: 900px;
  margin: auto;
}

.column-fifth {
  flex-basis: 20%;
  justify-content: center;
}

.light-bulb {
  background-color: rgb(253 245 133);
  margin: 230px 0;
  border-radius: 50%;
  box-shadow: 0 0 2rem 3px rgb(254 245 133);
}

.dark {
  background-color: rgb(31 31 31);
}

.lights-off {
  background-color: rgb(49 49 49);
  margin: 230px 0;
  border-radius: 50%;
  box-shadow: 0 -8px 2rem 3px rgb(0 0 0);
}
